<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Crimson+Text' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Tangerine' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Vibur' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/iphone.css" type="text/css" media="screen" />
    <link type="text/css" rel="stylesheet" href="/css/main.css" />
    <script src="/js/jquery.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/iphonecheck.js" type="text/javascript"></script>
    <script>
      function scrollToBottom() {
      var chatDiv = document.getElementById("chats");
      chatDiv.scrollTop = chatDiv.scrollHeight;
      }

      $(document).ready(function () {
        $(':checkbox').iphoneStyle();
        setup();
      });
    </script>
  </head>
  <body>
    <div id="login">
      {% if user %}
      <a href="{{log_in_out_url}}">Logged in! Log out...</a>
      {% else %}
      <a href="{{log_in_out_url}}">Log in...</a>
      {% endif %}
    </div>
    
    <h1><img src="images/latex.png" alt="LaTeX"/> Chat</h1>

    <ul id="chats" class="loading">
    </ul>

    <br/>

    <div>
      <form action="#">
	<div>
	  <label for="chattext">Message:</label>
	  <input name="content" type="text" id="chattext"></input>
	  <label for="chatlatex">Latex: </label><input name="latex" type="checkbox" id="chatlatex">
	  <input type="submit" value="Chat"></div>
      </form>
    </div>
  </body>
</html>
